#all-posts {
  h1, h2, h3, p {
    margin: 0;
  }
  color: white;
  .small {
    font-size: 12px;
    text-transform: uppercase;
  }
  .date {
    opacity: 0.7;
    margin-top: 0;
    padding-top: 0;
  }
  .placeholder-img {
    border: none;
  }
  .row {
    padding: 20px;
  }
  .content {
    opacity: 0.7;
    font-size: 15px;
    line-height: 23px;
  }
}