$alt1: rgb(232, 132, 107);
$alt2: rgb(22, 82, 142);
$alt3: rgb(229, 75, 75);
$alt4: rgb(162, 197, 191);
$alt5: rgb(22, 124, 128);
$alt6: rgb(0, 130, 200);
$alt7: rgb(114, 97, 110);

.c0 {
  background-color: $alt1;
}

.c1 {
  background-color: $alt2;
}

.c2 {
  background-color: $alt3;
}

.c3 {
  background-color: $alt4;
}

.c4 {
  background-color: $alt5;
}

.c5 {
  background-color: $alt6;
}

.c6 {
  background-color: $alt7;
}