@mixin transitions() {
  -webkit-transition: color 0.5s, background 0.5s;
  transition: color 0.5s, background 0.5s;
}

.navbar {
  .navbar-nav > li {
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 11px;
    font-weight: 200;
    @include transitions();
    letter-spacing: 1.5px;
    color: #7A7A7A;
  }
  .navbar-brand {
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(51, 51, 51);
  }
}

