$brand-color: rgb(51, 51, 51);
$link-color: #7A7A7A;

@import "_transitions.scss";

.navbar {
  a {
    margin: 0;
    .glyphicon-plus {
      font-size: 24px;
      margin-top: 9px;
      font-weight: bolder;
      color: $link-color;
      &:hover {
        color: $brand-color;
      }
    }
    &.btn {
      padding: 0;
    }
  }
  .navbar-collapse {
    padding: 0;
  }

  padding-left: 20px;
  padding-right: 20px;
  .nav {
    li {
      &.active {
        a {
          background-color: black;
          color: white;
        }
      }
      a {
        transition: background-color $transition-time, color $transition-time;
        -webkit-transition: background-color $transition-time, color $transition-time;
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 1.5px;
        color: $link-color;
        &:focus, &:hover {
          background-color: black;
          color: white;
        }
        margin-top: 15px;
        margin-left: 10px;
        height: 20px;
        padding: 0 5px;
        border-radius: 4px;
      }
    }
  }
  .navbar-brand {
    text-transform: uppercase;
    font-weight: 600;
    color: $brand-color;
    &:hover {
      color: inherit;
    }
  }
}