{% extends "base_template.html" %}
{% block title %}Daily{% endblock title %}
{% set active_page = "daily" %}
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
{% block content %}
    {% block entry_page %}
        <!-- START THE FEATURETTES -->

        {% for item in entries %}
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading"> {{ item.title }}.<span
                            class="text-muted"> {{ item.date }} </span></h2>

                    <p class="lead">{{ item.text }}</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500"
                         src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
                </div>
            </div>
            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
            <hr class="featurette-divider">

        {% endfor %}
        <!-- /.container -->
    {% endblock entry_page %}
{% endblock content %}

