{% extends "base_template.html" %}
{% block title %}Create New Entry{% endblock title %}
{% block scripts %}
    <!--suppress HtmlFormInputWithoutLabel -->
    <script src="{{ url_for('static', filename='vendor/ghostdown/ghostdown.js') }}"></script>
{% endblock %}
{% block styles %}
    <link href="{{ url_for('static', filename='vendor/ghostdown/ghostdown.css') }}" media="all" rel="stylesheet">
{% endblock %}
{% block container %}
    <form action="
    {% if not blog_item %}
    {{ url_for('create_blog_post') }}
    {% else %}
    {{ url_for('manage_entry', blog_id=blog_item.id) }}
    {% endif %}"
          method='post'
          class='form-horizontal'>
        <div>
            <input type="text"
                   name="title"
                   class="form-control"
                   id="input_title"
                   placeholder="{% if not blog_item %}Title{% endif %}"
                   value="{% if blog_item %}{{ blog_item.title }}{% endif %}">
        </div>
        <input type="hidden" name="method" value="{% if blog_item %}put{% else %}post{% endif %}">

        <div class="features">
            <section class="editor">
                <div class="outer">
                    <div class="editorwrap">
                        <section class="entry-markdown">
                            <header class="floatingheader">
                                &nbsp;&nbsp;Markdown
                            </header>
                            <section class="entry-markdown-content">
                                <textarea id="entry-markdown" name="text">{{ blog_item.content }}</textarea>
                            </section>
                        </section>
                        <section class="entry-preview active">
                            <header class="floatingheader">
                                &nbsp;&nbsp;Preview
                                <span class="entry-word-count">0 words</span>
                            </header>
                            <section class="entry-preview-content">
                                <div class="rendered-markdown"></div>
                            </section>
                        </section>
                    </div>
                </div>
            </section>
        </div>
        <div>
            <input type="text"
                   name="type"
                   class="form-control"
                   id="type"
                   value="daily">
        </div>
        <button type="submit" class="btn">{% if not blog_item %}ADD{% else %}EDIT{% endif %}</button>
    </form>
{% endblock %}
