{% block navbar %}
    {% set navigation_bar = [
('daily', 'Blog'),
( 'project', 'Projects')] -%}

    <!--<div class="container">-->
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Dashboard</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% for page_type, caption in navigation_bar %}
                        <li {% if page_type == active_page %} class="active"{% endif %}>
                            <a href="{{ url_for('all_posts', page_type=page_type) }}">{{ caption }}</a></li>
                    {% endfor %}

                </ul>
                <a class="btn pull-right add-btn" href="{{ url_for('editor') }}">
                    {#            <a class="btn pull-right" href="{{ url_for('aded') }}" style="margin-top:10px; background-color: transparent; color:#ffffff" action="POST">#}
                    <span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
    </div>
{% endblock navbar %}