{% block navbar %}
    {% set blog_navigation_items = [('daily', 'Blog')] -%}
    {% set other_navigation_items = [('projects', 'Projects')] -%}

    <!--<div class="container">-->
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    Dashboard
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% for page_type, caption in blog_navigation_items %}
                        <li {% if page_type == active_page or request.path == url_for('all_posts') %}
                            class="active"{% endif %}>
                            <a href="{{ url_for('all_posts', page_type=page_type) }}">
                                {{ caption }}
                            </a>
                        </li>
                    {% endfor %}
                    {% for handler_name, caption in other_navigation_items %}
                        <li  {% if request.path == url_for(handler_name) %} class="active"{% endif %}>
                            <a href="{{ url_for(handler_name, page_type=page_type) }}">
                                {{ caption }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="pull-right" id="right-nav">
                    <a class="btn add-btn"
                       href=" {% if page_type or request.path == url_for('all_posts') %}
                   {{ url_for('editor') }}
                {% elif request.path == url_for('projects') %}
                                   {{ url_for('add_project') }}
                {% endif %}
                   ">
                        {#            <a class="btn pull-right" href="{{ url_for('aded') }}" style="margin-top:10px; background-color: transparent; color:#ffffff" action="POST">#}
                        <span class="glyphicon glyphicon-plus"></span></a>

                    <a href="{{ url_for('login') }}" id="login">
                        <img src="{{ url_for('static', filename='img/person.png') }}" class="user-placeholder"/>
                        <span>
                            {% if session.username %}
                                {{ session.username }}
                            {% endif %}
                        </span>
                    </a>

                </div>


            </div>
        </div>
    </div>
{% endblock navbar %}